p {margin: 0px;}

#Camelus_dromedarius{color: #BFBFBF; background: rgb(54,0,999)}
#Lama_glama_guanicoe{color: #BFBFBF; background: rgb(0,0,942)}
#Sus_scrofa{color: #BFBFBF; background: rgb(0,0,952)}
#Phacochoerus_aethiopicus{color: #BFBFBF; background: rgb(0,0,30)}
#Pecari_tajacu{color: #BFBFBF; background: rgb(0,0,430)}
#Monodon_monoceros{color: #BFBFBF; background: rgb(999,999,999)}
#Delphinapterus_leucas{color: #BFBFBF; background: rgb(999,999,999)}
#Phocoena_phocoena{color: #BFBFBF; background: rgb(999,999,999)}
#Lagenorhynchus_obscurus{color: #BFBFBF; background: rgb(999,999,999)}
#Delphinus_delphis{color: #BFBFBF; background: rgb(999,999,999)}
#Tursiops_truncatus{color: #BFBFBF; background: rgb(999,999,999)}
#Pseudorca_crassidens{color: #BFBFBF; background: rgb(999,999,999)}
#Orcinus_orca{color: #BFBFBF; background: rgb(999,999,999)}
#Pontoporia_blainvillei{color: #BFBFBF; background: rgb(653,0,999)}
#Physeter_macrocephalus{color: #BFBFBF; background: rgb(999,999,999)}
#Hyperoodon_ampullatus{color: #BFBFBF; background: rgb(999,999,999)}
#Balaenoptera_acutorostrata{color: #BFBFBF; background: rgb(999,999,999)}
#Balaenoptera_musculus{color: #BFBFBF; background: rgb(999,999,999)}
#Eschrichtius_robustus{color: #BFBFBF; background: rgb(999,999,999)}
#Eubalaena_glacialis{color: #BFBFBF; background: rgb(999,999,999)}
#Balaena_mysticetus{color: #BFBFBF; background: rgb(999,0,731)}
#Hippopotamus_amphibius{color: #BFBFBF; background: rgb(999,999,999)}
#Antilocapra_americana{color: #BFBFBF; background: rgb(0,0,355)}
#Giraffa_camelopardalis{color: #BFBFBF; background: rgb(999,751,751)}
#Okapia_johnstoni{color: #BFBFBF; background: rgb(0,0,0)}
#Muntiacus_reevesi{color: #BFBFBF; background: rgb(999,834,834)}
#Cervus_canadensis{color: #BFBFBF; background: rgb(999,0,87)}
#Capreolus_capreolus{color: #BFBFBF; background: rgb(0,0,204)}
#Rangifer_tarandus{color: #BFBFBF; background: rgb(0,0,525)}
#Odocoileus_virginianus{color: #BFBFBF; background: rgb(872,0,999)}
#Alces_alces{color: #BFBFBF; background: rgb(0,0,511)}
#Taurotragus_oryx{color: #BFBFBF; background: rgb(999,999,999)}
#Tragelaphus_strepsiceros{color: #BFBFBF; background: rgb(999,999,999)}
#Bos_primigenius_Angus{color: #BFBFBF; background: rgb(355,0,999)}
#Bos_primigenius_Holstein{color: #BFBFBF; background: rgb(999,0,241)}
#Bos_primigenius_Brahman{color: #BFBFBF; background: rgb(999,998,998)}
#Bison_bonasus{color: #BFBFBF; background: rgb(999,990,990)}
#Syncerus_caffer{color: #BFBFBF; background: rgb(999,999,999)}
#Gazella_subgutturosa{color: #BFBFBF; background: rgb(0,0,948)}
#Antidorcas_marsupialis{color: #BFBFBF; background: rgb(999,999,999)}
#Saiga_tatarica{color: #BFBFBF; background: rgb(0,0,872)}
#Madoqua_kirkii{color: #BFBFBF; background: rgb(862,0,999)}
#Sylvicapra_grimmia{color: #BFBFBF; background: rgb(0,0,467)}
#Kobus_kob{color: #BFBFBF; background: rgb(999,999,999)}
#Aepyceros_melampus{color: #BFBFBF; background: rgb(999,999,999)}
#Ovibos_moschatus{color: #BFBFBF; background: rgb(999,236,236)}
#Capra_ibex{color: #BFBFBF; background: rgb(999,999,999)}
#Ovis_canadensis{color: #BFBFBF; background: rgb(783,0,999)}
#Capricornis_crispus{color: #BFBFBF; background: rgb(999,999,999)}
#Oreamnos_americanus{color: #BFBFBF; background: rgb(999,999,999)}
#Rupicapra_rupicapra{color: #BFBFBF; background: rgb(999,998,998)}
#Hippotragus_niger{color: #BFBFBF; background: rgb(999,999,999)}
#Connochaetes_taurinus{color: #BFBFBF; background: rgb(999,999,999)}
